*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* box 1 */

.box1 {

    width: 100%;
    height: 100vh;
    background-color: red;
    position: relative;
}

.menu {

    padding: 30px;
    position: fixed;
    right: 0;
    opacity: 1;
    z-index: 1;

}

.menu ul li {

    float: left;
    list-style-type: none;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 20px;
    font-weight: 800;

}

.menu ul li a {

    text-decoration: none;

}

.box1 img, .box2 img, .box3 img{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.box1 .spot, .box2 .spot, .box3 .spot{

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.box1 .spot h1, .box2 .spot h1 {

    color: yellow;
    padding-top: 40px;
    font-family: 'RocknRoll One', sans-serif;
}



.box2 {

    width: 100%;
    height: 100vh;
    background-color: green;
    position: relative;
}


.box3 {

    width: 100%;
    height: 100vh;
    background-color: yellow;
    position: relative;
}

.box3 .spot h1 {

    color: green;
    padding-top: 40px;
    font-family: 'RocknRoll One', sans-serif;
}